* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'roboto', Bold; }

body .contenedor {
  width: 80%;
  margin: auto; }
body header {
  background: #ffff;
  display: flex; }
  body header #contenedorHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 15%; }
    body header #contenedorHeader #ImgPerfilMax {
      height: 48px;
      width: 48px;
      border-radius: 55px; }
body main {
  background: #F3F5FA; }
  body main #TituloTareas {
    display: flex;
    align-items: center;
    padding: 12px 0; }
    body main #TituloTareas h2 {
      margin-right: 2%; }
    body main #TituloTareas a {
      text-decoration: none;
      color: #425195; }
  body main .Tareas {
    padding: 16px;
    background-color: #ffff;
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 1; }
    body main .Tareas #CajaTarea_titulo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 8px;
      border-bottom: 2px solid #F0F3FF; }
      body main .Tareas #CajaTarea_titulo #estado {
        color: #2DC09D; }
      body main .Tareas #CajaTarea_titulo a {
        background: #425195;
        padding: 1% 2%;
        border-radius: 10px;
        color: #ffff; }
    body main .Tareas #CajaTarea_Subtitulo {
      display: grid;
      grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
      padding-right: 10%;
      margin: 2% 0%; }
      body main .Tareas #CajaTarea_Subtitulo .ImagenPerfilMin {
        width: 24px;
        border-radius: 12px; }
    body main .Tareas #CajaTarea_Cuerpo {
      padding-left: 2%;
      border-left: 2px solid #2DC09D; }
      body main .Tareas #CajaTarea_Cuerpo .tituloCuerpo {
        display: flex;
        justify-content: space-between; }
      body main .Tareas #CajaTarea_Cuerpo p {
        padding-right: 3%; }
  body main .opciones {
    position: relative;
    padding: 5px 15px;
    width: 35%;
    top: -45px;
    left: 65%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 8px;
    background: #F3F5FA;
    box-shadow: 0px 0px 14px 0px rgba(71, 87, 162, 0.34);
    border-radius: 5px; }
    @media only screen and (max-width: 661px) {
      body main .opciones {
        width: 40%;
        left: 62%; } }
    @media only screen and (min-width: 661px) and (min-width: 720px) {
      body main .opciones {
        width: 20%;
        left: 80%; } }
  body main #Boton {
    position: relative;
    top: -60px;
    left: 89%;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #425195; }
    @media only screen and (max-width: 576px) {
      body main #Boton {
        left: 85%; } }
    @media only screen and (min-width: 576px) and (min-width: 720px) {
      body main #Boton {
        left: 91%; } }
    body main #Boton i {
      position: relative;
      top: 25%;
      left: 29%;
      color: white; }

/*# sourceMappingURL=styless.css.map */
